.ForgotPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 25%;
  gap: 15px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 9px;
}

.form-input {
  background: inherit;
  color: inherit;
  border: solid 1px black;
  padding: 8px;
  font-size: 1.2rem;
}

.label {
  font-size: 0.8rem;
  line-height: 0;
}

.submit-btn {
  font-size: 1.02rem;
  padding: 10px;
  width: 100%;
}

.reset-header {
  margin: 0;
}

.reset-info {
  margin: 0;
}