.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 9px;
}

.form-input {
  background: inherit;
  color: inherit;
  border: solid 1px black;
  padding: 8px;
  font-size: 1.2rem;
}

.label {
  font-size: 0.8rem;
  line-height: 0;
}

.submit-btn {
  padding: 10px;
  font-size: 1.02rem;
}

.error-container {
  text-align: center;
}
