.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 9px;
}

.form-input {
  background: inherit;
  color: inherit;
  border: solid 1px black;
  padding: 8px;
  font-size: 1.2rem;
}

.label {
  font-size: 0.8rem;
  line-height: 0;
}

.submit-btn {
  padding: 10px 40px;
  font-size: 1.02rem;
}

.forgot-password {
  padding: 5px 0;
  text-decoration: underline;
  align-self: flex-start;
}

.submit-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .main {
    margin: 40px 0;
  }
}