.Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 9px;
}

.form-input {
  background: inherit;
  color: inherit;
  border: solid 1px black;
  padding: 8px;
  font-size: 1.2rem;
}

.label {
  font-size: 0.8rem;
  line-height: 0;
}

.password-rules {
  background: #242424;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
  border-radius: 5px;
  padding: 8px;
}

.submit-btn {
  font-size: 1.02rem;
  padding: 10px 40px;
}

.submit-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .main {
    
  }
}
