.Tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 40px 0;
  font-size: 1.1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  align-items: center;
}

.Instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90%;
  text-align: center;
  max-width: 600px;
}

.img {
  width: 90%;
}

@media screen and (min-width: 769px) {
  .img {
    width: 150%;
  }
}