
.AppModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  max-height: fit-content;
  width: 300px;
  border-radius: 8px;
  padding: 15px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px 0px #242424;
} 

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.modal-body {
  width: 100%;
  margin-top: 0;
}

.modal-btn {
  width: 100px;
  text-align: center;
}

.close-row {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
}

@media screen and (min-width: 769px) {
  .AppModal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .AppModal {
    width: 600px;
  }

  .modal-body {
    width: 80%;
  }

  .btn-row {
    width: 80%;
    margin-top: 20px;
  }
}