.Header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items:  center;
  width: 100%;
  height: 12vh;
  background-color: #242424;
  z-index: 1;
  top: 0;
  box-shadow: 0 3px 8px 0 #242424;
}

.outer-container {
  display: flex;
  flex-direction: row;
  align-items:  center;
  margin: 0 10px;
  width: 100%;
  color: white;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80px;
}

.banner-container:hover {
  opacity: 80%;
}

.header-banner {
  width: 100%;
}

.drawer {
  position: absolute;
  background: #242424;
  transition: width .2s;
  overflow: hidden;
  top: 12vh;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 12vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer.hidden {
  width: 0%;
}

.drawer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: white;
  margin: 20px 0;
  justify-content: center;
}

.drawer-item {
  white-space: nowrap;
  padding: 10px 0;
  font-weight: 500;
}

.drawer-item:hover {
  color: inherit;
  opacity: 75%;
}

.user-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 20px 0;
}

.desktop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-link {
  position: relative;
}

.cart-badge {
  position: absolute;
  text-align: center;
  left: -5px;
  top: -15px;
  border-radius: 50%;
  background: #e63f57;
  width: 20px;
  color: white;
}

@media screen and (min-width: 400px) {
  .banner-container {
    width: 110px;
  }
}

@media screen and (min-width: 769px) {
  .Header {
    flex-direction: column;
    height: fit-content;
    transition: padding 0.5s;
  }

  .Header.expanded {
    padding: 15px 0;
  }

  .banner-container {
    margin: 0;
  }

  .header-banner {
    transition: width 0.5s;
  }

  .header-banner.expanded {
    width: 300px;
  }

  .outer-container {
    padding: 20px 40px;
    flex-direction: row;
    justify-content: space-around;
  }

  .drawer-menu {
    margin: 0 auto;
    gap: 9px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .login {
    font-weight: 700;
  }

  .user-row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 9px;
    justify-content: center;
    width: fit-content;
  }

  .my-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .link-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 968px) {
  .link-container {
    flex-direction: row;
  }

  .drawer-menu {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .drawer-menu {
    gap: 120px;
  }
}

@media screen and (min-width: 1920px) {
  .banner-container {
    width: 120px;
  }
  .drawer-menu {
    gap: 180px;
  }

}

@media screen and (min-width: 2560px) {
  .drawer-menu {
    gap: 240px;
  }
}