.Header {
  display: flex;
  flex-direction: row;
  align-items:  center;
  min-width: 100%;
  height: 12vh;
  background-color: #242424;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
  align-items:  center;
  margin: 0 10px;
  width: 100%;
}

.banner-container {
  margin: 0 auto;
}

.header-banner {
  width: 250px;
}

.drawer {
  position: absolute;
  background: #242424;
  transition: all .25s;
  overflow: hidden;
  top: 10vh;
  height: calc(100vh - 7vh);
  width: 100%;
}

.drawer.hidden {
  width: 0%;
}

.drawer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: white;
  margin: 20px 0;
}

.drawer-item {
  padding: 5px 0;
}