.Header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items:  center;
  width: 100%;
  height: 12vh;
  background-color: #242424;
  z-index: 1;
  top: 0;
  box-shadow: 0 3px 8px 0 #242424;
}

.outer-container {
  display: flex;
  flex-direction: row;
  align-items:  center;
  margin: 0 10px;
  width: 100%;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.banner-container:hover {
  opacity: 80%;
}

.header-banner {
  width: 200px;
}

.drawer {
  position: absolute;
  background: #242424;
  transition: width .2s;
  overflow: hidden;
  top: 12vh;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 12vh);
  width: 100%;
}

.drawer.hidden {
  width: 0%;
}

.drawer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: white;
  margin: 20px 0;
}

.drawer-item {
  white-space: nowrap;
  padding: 10px 0;
  font-weight: 500;
}

.drawer-item:hover {
  color: inherit;
  opacity: 75%;
}

.user-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 20px 0;
}

.desktop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 300px) {
  .header-banner {
    width: 250px;
  }
}

@media screen and (min-width: 769px) {
  .Header {
    flex-direction: column;
    height: fit-content;
    transition: padding 0.5s;
  }

  .Header.expanded {
    padding: 15px 0;
  }

  .banner-container {
    margin: 0;
  }

  .header-banner {
    transition: width 0.5s;
  }

  .header-banner.expanded {
    width: 300px;
  }

  .outer-container {
    padding: 20px 40px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .drawer-menu {
    margin: 0 auto;
    gap: 20px;
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    .drawer-menu {
      gap: 120px;
    }
  }

  @media screen and (min-width: 1920px) {
    .drawer-menu {
      gap: 180px;
    }
  }

  @media screen and (min-width: 2560px) {
    .drawer-menu {
      gap: 240px;
    }
  }
}