.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  margin: 10px 0;
  width: 90%;
}

.collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.product-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.product-img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.product-img-overlay {
  background-color: rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.product-overlay-text {
  position: absolute;
  color: white;
  bottom: 35px;
  left: 25px;
  margin: 0;
}

@media screen and (min-width: 769px) {
  .main {
    width: 80%;
  }
  
  .collections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .product-link:hover {
    transform: scale(1.04);
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 60%;
  }

  .collections {
    gap: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .main {
    width: 50%;
  }
}

@media screen and (min-width: 2560px) {
  .main {
    width: 40%;
  }
}

