.Products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.product-img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.product-img {
  max-width: 100%;
  border-radius: 8px;
}

.alt-color-selection {
  display: flex;
  flex-direction: column;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.alt-color-img {
  width: 80px;
}

.alt-color-img.selected {
  border: solid 2px #e63f57;
}

.price {
  margin: 0;
}

.size-container {
  width: 100%;
}

.sizes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  width: 80%;
}

.size-btn {
  width: 90px;
  max-width: 120px;
}

.size-btn.selected {
  border: solid 2px #e63f57;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.description {
  margin: 0;
}

.subheader {
  font-weight: 700;
}

.disabled {
  opacity: 75%;
  pointer-events: none;
}

@media screen and (min-width: 769px) {
  .main {
    width: 90%;
  }

  .product-img {
    max-width: 600px;
  }

  .product-info-section {
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 90%;
  }

  .product-img-section {
    justify-content: center;
    flex: 1;
  }

  .product-info-section {
    flex: 1;
  }

  .product-img {
    max-width: 500px;
  }
}

@media screen and (min-width: 1920px) {
  .main {
    width: 70%;
  }
}

@media screen and (min-width: 2560px) {
  .main {
    width: 55%;
  }
}